# Week 12 Assignment

# PART 1 - Pivoting Data for Fun!

In this exercise, we're going to work with data about condemned buildings in St. Louis.  This data set is in `/data/condemn.txt` in CSV format.

## STEP 1: Load and Filter data

For this analysis, we want to look only at a relevent range of years and only years that are in teh past.  So, let's first take a look at the data between 1986 and 2014 (inclusive of those dates).

At the end of this step, you should have a data frame loaded from the condemnations file and filtered down to only the data between 1986 and 2014.  Put that into a dataframe named `condemnations`

**Some helpful notes:**
* Use the columns `InspectDate` to filter this date range

In [1]:
%matplotlib inline
import pandas as pd

condemn_text = pd.read_csv('/data/condemn.txt')
condemn_text.shape
condemnations= condemn_text[(condemn_text['InspectDate'] > '1985-12-31') & (condemn_text['InspectDate'] < '2015-01-01')]

/opt/tljh/user/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (2,8,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
condemnations.shape

(30232, 40)

In [3]:
condemnations

,AcctNum,PrclErr,AddrAdjusted,CityBlock,Parcel,OwnerCode,Handle,Parcel9,AddrNum,AddrSuf,...,CensBlock00,AsrNbrhd,ImpactCode,NLC,Parity,Inspector,Images,FirstDate,LastDate,UpDateGeo
0,1.0,0.0,False,3652.00,341.0,1.0,1.365200e+10,365200341.0,4049,,...,1114.4006,309.0,0.0,123.0,O,NaN,NaN,1987-08-07 00:00:00,2019-01-04 00:00:00,NaN
1,2.0,0.0,False,666.00,80.0,0.0,1.066600e+10,66600080.0,906,,...,1234.2003,248.0,0.0,104.0,E,NaN,NaN,1988-06-28 00:00:00,2019-01-04 00:00:00,NaN
2,3.0,0.0,False,3913.01,120.0,1.0,1.391301e+10,391301120.0,4218,,...,1191.1004,230.0,0.0,210.0,E,NaN,NaN,1990-08-28 00:00:00,2019-01-04 00:00:00,NaN
3,4.0,2.0,False,3744.00,145.0,0.0,1.374400e+10,374400145.0,4145,,...,1111.4000,231.0,0.0,92.0,O,NaN,NaN,1990-06-12 00:00:00,2019-01-04 00:00:00,NaN
4,5.0,0.0,False,1103.00,30.0,0.0,1.110300e+10,110300030.0,1936,,...,1266.5001,318.0,0.0,5.0,E,NaN,NaN,2006-12-21 00:00:00,2019-01-04 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32575,NaN,NaN,NaN,NaN,NaN,NaN,1.330900e+10,330900220.0,2013,NaN,...,NaN,NaN,NaN,NaN,NaN,"Ulrich, Ross",NaN,NaN,NaN,NaN
32576,NaN,NaN,NaN,NaN,NaN,NaN,1.247600e+10,247600260.0,2029,NaN,...,NaN,NaN,NaN,NaN,NaN,"Ulrich, Ross",NaN,NaN,NaN,NaN
32581,NaN,NaN,NaN,NaN,NaN,NaN,1.382900e+10,382900560.0,5971,NaN,...,NaN,NaN,NaN,NaN,NaN,"Popoolas, Adebanjo",https://www.stlcitypermits.com/violationimages...,NaN,NaN,NaN
32582,NaN,NaN,NaN,NaN,NaN,NaN,1.303400e+10,303400010.0,7154,NaN,...,NaN,NaN,NaN,NaN,NaN,"Wood, Paul",NaN,NaN,NaN,NaN
32585,NaN,NaN,NaN,NaN,NaN,NaN,1.100600e+10,100600270.0,2919,NaN,...,NaN,NaN,NaN,NaN,NaN,"Ulrich, Ross",https://www.stlcitypermits.com/violationimages...,NaN,NaN,NaN

In [4]:
assert(condemnations.shape == (30232, 40))
assert(len(condemnations[condemnations['InspectDate'] < '1986'])==0)
assert(len(condemnations[condemnations['InspectDate'] >= '2015'])==0)

## STEP 2: Pivot and Summarize

In this step we want to pivot our data so that we have one row per year, a column for each value that appears in the `Status` column, and a count of how many condemnations occurred of each type in each year.  Put your summary pivot table into a variable called `by_year`.

**Some helpful notes:**
* For some reason, Pandas is just kind of stubborn about count being the aggregate function.  You may need to tell it to `np.ma.count` specifically.  I've imported Numpy as np for you.

In [7]:
import numpy as np
condemnations['InspectYear'] = condemnations['InspectDate'].str[0:4]
by_year = condemnations.pivot_table(values = 'AcctNum', index = 'InspectYear', columns = 'Status', aggfunc = 'count')
by_year

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Status            B      L     R      W
InspectYear
1986           22.0   12.0  19.0  112.0
1987           91.0   20.0   8.0  361.0
1988          215.0   16.0  15.0  297.0
1989          277.0   15.0  11.0  432.0
1990          119.0   29.0   8.0  322.0
1991          139.0   18.0   4.0  351.0
1992          204.0   30.0   4.0  258.0
1993          185.0   47.0   2.0  193.0
1994          208.0   94.0   5.0  293.0
1995          176.0  127.0   NaN  268.0
1996          214.0  171.0   NaN  794.0
1997          281.0  328.0   NaN  878.0
1998          254.0  343.0   NaN  599.0
1999          272.0  283.0   NaN  826.0
2000          320.0  268.0   NaN  529.0
2001          381.0  262.0   NaN  296.0
2002          383.0  227.0   NaN  317.0
2003          361.0  201.0   NaN  282.0
2004          354.0  204.0   NaN  381.0
2005          410.0  237.0   NaN  345.0
2006          479.0  233.0  20.0  370.0
2007          613.0  262.0   NaN  341.0
2008          700.0  254.0   NaN  334.0
2009          785.0  223.0   NaN  200.0
2010         1161.0  193.0   NaN  154.0
2011         1028.0  275.0   NaN  107.0
2012          738.0  257.0   1.0   28.0
2013          185.0  209.0   1.0    2.0
2014           17.0  128.0   NaN    NaN

In [ ]:
assert(by_year.shape == (29, 4))
assert(list(by_year.columns) == ['B', 'L', 'R', 'W'])
assert(list(by_year.sum()) == [10572, 4966, 98, 9670])

## STEP 3: Plot and see what you see

Use Pandas built-in plotting capabilities to visualize this information in way that you think makes sense.  It might be that plotting a simple multi-series line chart would give you some insights.  Show your plot in the cell below, then use the text cell below that to write a few sentences about what you see.

In [ ]:
%matplotlib inline
by_year.plot()

---

In [ ]:
'For all status: From 1986, statuses of B begin to rise, around 1989 and then fall before steadily rising and peaking overall around 2010.'
'Status of L begins as the lowest status given, while ending the data as the second most status'
'Status of R ends around 1994, discontinuation unknown.'
'Status of W begins as the highest given, and ends the data as the lowest, not accounting for R'

# PART 2 - Video Conference Usage

In this next part of the assignment, we'll be looking at how video conference usage changed during the beginning of COVID-19.  This real data.  Please don't judge anyone based on the information here.  ;)  The data is in the `/data/meetings.csv` file.

For the assignment, I want you to compare (by person) the number of meetings hosted by each user for the last two weeks of February and the last two weeks of March.  This might be a little complicated to think through HOW to do that, so the steps below are one approach.

1. Create a new column called startDate that contains just the day part of the startTime column in the data.  You can do that using datetime functions if you want, but you'll notice that the date in this file is a string formatted YYYY-MM-DD-HH:mm:ss, so it's probably easier just to pull out the first 10 characters of the string instead.  `meetings['startTime'].str[0:10]`
2. Create another new column.  This one should contain a label like "BEFORE" for the week 2/17 - 2/28 and "DURING" for the week of 3/16 - 3/27.  A hand tip on this is that you can set values for some rows in a data frame using `meetings.loc[row_filter,'Column Name'] = 'Value'` if you've created a `row_filter` as we discussed in prior weeks.
3. From here, using `pivot_table()` is one good way to summarize the information.

**FINAL RESULT**

For a final result, I'd like you to produce a data frame named **summary** that contains:
* One ROW for each userName.  The userName can either be the row index or a column in the data frame.
* One COLUMN for the "BEFORE" week and one COLUMN for the "DURING" week.  Name those columns 'Before' and 'During'.
* One more calculated column that shows the percent increase from BEFORE to DURING.  Name that column 'pctChange'.

In [ ]:
import pandas as pd
meetings = pd.read_csv('/data/meetings.csv')


meetings['startDate'] = meetings['start_time'].str[0:10]

bef_filt = meetings[(meetings['startDate'] > '2020-02-16') & (meetings['startDate'] < '2020-02-29')]
aft_filt = meetings[(meetings['startDate'] > '2020-03-15')&(meetings['startDate'] < '2020-03-28')]

meetings.loc[bef_filt, 'Before'] = bef_filt['participantSeconds']
meetings.loc[aft_filt, 'After'] = aft_filt['participantSeconds']
meetings
#Dont Understand the error, have done internet searching all day for this

In [ ]:
summary = ...

---

In [ ]:
assert(len(summary) == 22)

In [ ]:
assert(summary['pctChange'].mean().round(2) == 0.92)



---



## Submitting Your Work

Submit as usual